# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
include/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# Editors
.vscode/
.idea/
*.swp
*.bak
*~
.DS_Store # macOS specific

# Tests
.pytest_cache/
.coverage
htmlcov/

# Documentation
docs/_build/

# Jupyter Notebooks
.ipynb_checkpoints

# Logs and temporary files
*.log
tmp/
venv
*.log
*.logs
output/
rag_storage/
.env
